@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap");
.footerStyle {
  background-color: #4E4E50;
  border-top: 4px solid #f5f4e8; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

.navbar {
  background-color: #4E4E50;
  border-bottom: 2px solid #f5f4e8;
  position: relative;
  z-index: 2; }

.navbar .navbar-brand {
  font-weight: bold; }

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show > .nav-link {
  background-color: #f5f4e8;
  color: #1A1A1D;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: fit-content; }

.navbar-dark .navbar-nav .nav-link {
  color: #f5f4e8; }

.main__section {
  background-image: url(../assets/NFmainbackround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main__section h1 {
    color: #c3073f;
    font-weight: bold; }

.main__section a {
  font-size: 1.5rem;
  color: #f5f4e8;
  background-color: #c3073f;
  width: 8rem;
  height: 3rem;
  border: 2px solid #f5f4e8; }
  .main__section a:hover {
    background-color: #f5f4e8;
    color: #1A1A1D;
    transform: scale(1.5, 1.5); }

.main__table .row {
  background: #c3073f; }

.aboutStyle img {
  height: 300px;
  width: 100%; }

.card-img, .card-img-bottom, .card-img-top {
  height: 80vh; }

.galleryStyle img, svg {
  height: 200px;
  border-radius: 10px;
  width: 300px; }
  .galleryStyle img:hover, svg:hover {
    transform: rotate(5deg); }

.formStyle .row .formBorder {
  border: 1px solid #1A1A1D;
  border-radius: 10px; }

.formStyle {
  background: #c3073f; }
  .formStyle button {
    background: #1A1A1D;
    color: #c3073f;
    border-radius: 2px;
    border: 1px solid black; }
    .formStyle button:hover {
      background: #c3073f;
      color: #1A1A1D;
      border-radius: 2px;
      border: 1px solid black; }
