@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */

.navbar{
  background-color: #4E4E50;
  border-bottom: 2px solid #f5f4e8;
}

.navbar .navbar-brand{
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  
  background-color: #f5f4e8;
  color: #1A1A1D;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: fit-content;
}

.navbar-dark .navbar-nav .nav-link {
  
  color: #f5f4e8;
}

/* Main */

/* Main Section 1 */

.main__section{
  background-image: url(../assets/NFmainbackround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__section h1{
  color: #c3073f;
  font-weight: bold;
}

.main__section a{
  
  font-size: 1.5rem;
  color: #f5f4e8;
  background-color: #c3073f;
  width: 8rem;
  height: 3rem;
  border: 2px solid #f5f4e8;
}

.main__section a:hover{
  background-color: #f5f4e8;
  color: #1A1A1D;
  transform: scale(1.5,1.5);
}

/* Main Section 2 */

.main__table .row{
  background: #c3073f;
}

/* Main Section 3 */



/* MAIN ABOUT */

.main__about{
  display: flex;
  flex-direction: column;
}

.main__about img{
  height: 300px;
  width: 200px;
}



.main__aboutimg1{
  float: left;
  margin: 20px;
  border-radius: 10px;
}

.main__aboutimg2{
  float: right;
  margin: 20px;
  border-radius: 10px;
}

.main__aboutimg3{
  float: left;
  margin: 20px;
  border-radius: 10px;
}

.main__about p{
  
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin: 10px;
}
.section__container1{
  background-color: #c3073f;
}

.section__container2{
  background-color: #950740;
}

.section__container3{
  background-color: #c3073f;
}


/* MAIN DISCOGRAPHY */

.main__disc{
  background-color: #4E4E50;
  height: 700px;
}

.main__disc img{
  height: auto;
  width: 200px;
  border-radius: 6px;
  border: 2px solid black;
}

.disc__grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4px;
  height: 100vh;
}

.disc__img{
  background-color: #fff;
  display: flex;
  margin: 10px;
  padding: 10px;
  height: 200px;
  border: 2px solid #c3073f;
  border-radius: 6px;
}

.disc__info{
  margin-left: 5px;
  padding: 10px;
}

.disc__info h2{
  
  font-size: 16px;
  font-weight: bold;
}

.disc__info h3{
  
  font-size: 10px;
  font-weight: 500;
}

/* MAIN GALLERY */

.main__gallery{
  background-color: #4E4E50;
}

.main__galleryGrid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(11, 5vw);
    grid-gap: 2px;
}

.main__gallery img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    padding: 2px;
    border-radius: 5px;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 6;
}

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.gallery__item--3 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__item--4 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery__item--5 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--7 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 12;
}

.gallery__item--8 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 9;
  grid-row-end: 12;
}

.gallery__item--9 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 9;
  grid-row-end: 12;
}

.gallery__item--10 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 9;
  grid-row-end: 12;
}

/* MAIN CONTACT */

.main__contact {
  background-image:url('../assets/NFgallery1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form__contact{
  width: 500px;
  background: rgb(195,7,63);
  background: linear-gradient(42deg, rgba(195,7,63,1) 0%, rgba(195,7,63,1) 50%, rgba(247,243,237,1) 100%);
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}
.form__contact label{
  display: block;
  margin-top: 15px;
}

.form__contact input{
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
}

.form__contact textarea{
  width: 100%;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 4px;
}

.form__contact input[type="submit"], input[type="reset"]{
  background-color: #1A1A1D;
  border: 1px solid black;
  color: #fff;
  width: 48%;
  border-radius: 4px;
  cursor: pointer;
}

.form__contact input[type="submit"]:hover , input[type="reset"]:hover{
  background-color: #fff;
  color: #1A1A1D;
}
/* FOOTER */

  .footerStyle{
    background-color: #4E4E50;
    border-top: 4px solid #f5f4e8;
    
  }
