@import "../css/partials/footer";
@import "../css/partials/variables";
@import "../css/partials/reset";
@import "../css/partials/header";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300&display=swap');

.main__section{
  background-image: url(../assets/NFmainbackround.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
    & h1{
    color: map-get($colors , maincolor);
    font-weight: bold;
  }
}

.main__section a{
  
  font-size: 1.5rem;
  color: map-get($colors , color3);
  background-color: map-get($colors , maincolor);
  width: 8rem;
  height: 3rem;
  border: 2px solid map-get($colors , color3);
    &:hover{
    background-color: map-get($colors , color3);
    color: map-get($colors , color2);
    transform: scale(1.5,1.5);
  }
}

.main__table .row{
  background: map-get($colors , maincolor);
}

.aboutStyle img{
  height: 300px;
  width: 100%;
}

.card-img, .card-img-bottom, .card-img-top {
  height: 80vh;
}

.galleryStyle img, svg {
  height: 200px;
  border-radius: 10px;
  width: 300px;
  &:hover{
    transform: rotate(5deg);
  }
}


.formStyle .row .formBorder{
  border: 1px solid #1A1A1D;
  border-radius: 10px;
}

.formStyle {
  background: #c3073f;
  & button{
    background: #1A1A1D;
    color: #c3073f;
    border-radius: 2px;
    border: 1px solid black;
    .formStyle .button:hover{
      @extend .formStyle .button:hover;
      background: #c3073f;
      color: #1A1A1D;
    }
  }
}

