@import "./variables";

.navbar{
  background-color: #4E4E50;
  border-bottom: 2px solid map-get($colors , color3);
  position: relative;
  z-index: 2;
}

.navbar .navbar-brand{
font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
  
  background-color: map-get($colors , color3);
  color: #1A1A1D;
  border-radius: 0.5rem;
  padding: 0.5rem 0.5rem;
  width: fit-content;
}

.navbar-dark .navbar-nav .nav-link {
  
  color: map-get($colors , color3);
}